* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Green1: hsl(158, 36%, 37%);
  --Green2: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  max-width: 35.25rem;
  border-radius: 10px;
  overflow: hidden;
}

.img_div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.write_div {
  background-color: var(--White);
  height: 100%;
  width: 100%;
  padding: 30px;
}

.price_div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.first_p {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  color: var(--Grey);
  margin-bottom: 18px;
  letter-spacing: 4px;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 1.7rem;
  color: var(--Black);
  margin-bottom: 18px;
  line-height: 1.7rem;
}

.second_p {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  color: var(--Grey);
  margin-bottom: 18px;
  line-height: 18px;
}

.p1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--Green1);
  font-family: "Fraunces", serif;
  margin-right: 15px;
  display: inline-block;
}

.p2 {
  font-family: "Montserrat", sans-serif;
  color: var(--Grey);
  font-size: 11px;
  display: inline-block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--Green1);
  width: 100%;
  border-radius: 10px;
  height: 40px;
  border: none;
  transition: 0.3s;
  color: var(--White);
  font-weight: 600;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
}

.btn:hover,
.btn:active {
  background-color: var(--Green2);
  cursor: pointer;
}

@media (max-width: 35.9375em) {
  main {
    grid-template-columns: 1fr;
    max-width: 350px;
    margin: 20px;
  }

  .img_div img {
    height: 21.875rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}